.button
  position relative
  display inline-block
  padding .65rem 1rem
  line-height 1
  font-size 1.15rem
  border 1px solid color_red
  background color_red
  color white
  font-weight 300
  text-align center
  cursor pointer
  text-decoration none
  transition .4s
  &:hover
    background color_red_dark
  &_lg
    padding .8rem 1.25rem
    font-size 1.25rem
  &_block
    width 100%
  &_long
    min-width 14rem
