.form
  &__input
    padding .5rem
    font-size 1.1rem
    color #fff
    border 1px solid color_red
    background-color rgba(255, 255, 255, 0.1)
    box-shadow none
    outline none
    &_block
      width 100%
    &_white
      color #363636
      &::placeholder
        color #616161
