.computerRepair
  .hero
    background url('../images/computer-repair/bg-1.jpg') center / cover no-repeat
  .statusOnline
    background url('../images/computer-repair/bg-2.jpg') center / cover no-repeat
  .powers
    background url('../images/computer-repair/bg-3.jpg') center / cover no-repeat
  .proposal
    background url('../images/computer-repair/bg-4.jpg') center / cover no-repeat
