.contactForm
  display flex
  table-layout fixed
  max-width 480px
  margin auto
  @media (max-width 480px)
    flex-direction column
    max-width 300px
  &__input
    width 50%
    font-size 1.15rem
    @media (max-width 480px)
      width 100%
      margin-bottom 10px
  &__button
    width 50%
    @media (max-width 480px)
      width 100%
