.hero
  color #fff
  text-align center
  background url('../images/bigfix-pattern.png')
  &__header
    &_1
      font-weight 400
      font-size 2.5rem
      margin-top 1rem
      margin-bottom 1.5rem
    &_2
      font-size 1.7rem
      margin-bottom 4rem
    &_3
      font-size 1.15rem
      margin-bottom 1.5rem
