@import 'hero'
@import 'address'
@import 'logo'
@import 'phone'
@import 'mainHeader'
@import 'mainFooter'
@import 'navbar'
@import 'phoneRepair'
@import 'refillCartridges'
@import 'computerRepair'
@import 'contactForm'
@import 'people'
@import 'steps'
@import 'services'
@import 'testimonials'
@import 'brands'
@import 'newsPreview'
@import 'pagination'
@import 'singleNews'
