.mainFooter
  padding-top 30px
  padding-bottom 30px
  background color_darkgrey
  color #fff
  @media (max-width 992px)
    text-align center
  &__contactForm
    padding-bottom 15px
    text-align right
    @media (max-width 992px)
      padding-top 15px
      margin-top 15px
      border-top 1px solid #fff
      text-align center
  &__map
    @media (max-width 992px)
      padding-bottom 15px
