.newsPreview
  margin-bottom 15px
  &__image
    max-height 220px
    margin-bottom 15px
  &__body
    display flex
    flex-direction column
    margin-bottom 15px
  &__caption
    margin 0
    line-height 1
    font-size 1.5rem
    font-weight 400
  &__button
    align-self flex-start
    margin-top auto
