.refillCartridges
  .hero
    background url('../images/refill-cartridges/bg-1.jpg') center / cover no-repeat
  .statusOnline
    background url('../images/refill-cartridges/bg-2.jpg') center / cover no-repeat
  .powers
    background url('../images/refill-cartridges/bg-3.jpg') center / cover no-repeat
  .proposal
    background url('../images/refill-cartridges/bg-4.jpg') center / cover no-repeat
