.services
  &__item
    padding-bottom 30px
  &__image
    width 200px
    height 200px
    margin auto
    border-radius 50%
    border 1px solid color_red
    background-size cover
    background-position center
    background-repeat no-repeat
  &__description
    font-weight 400
