.testimonials
  background url('../images/bigfix-pattern.png')
  color #fff
  text-align center
  &__photo
    display inline-block
    width 150px
    height @width
    border-radius 50%
    margin-bottom 1.25rem
    background-position center
    background-size cover
  &__name
    margin-bottom .8rem
    font-size 1.6rem
    font-weight 400
  &__opinion
    display inline-block
    max-width 640px
