@import '../../../node_modules/slick-carousel/slick/slick.css'
@import '../../../node_modules/slick-carousel/slick/slick-theme.css'
@import '../../../node_modules/simplelightbox/dist/simplelightbox.css'
@import '../../../node_modules/remodal/dist/remodal.css'
@import '../../../node_modules/remodal/dist/remodal-default-theme.css'
@import '../../../node_modules/toastr/build/toastr.css'

@import 'simplelightbox'
@import 'slick'
@import 'remodal'
