@import '../../../node_modules/slick-carousel/slick/slick.css'
@import '../../../node_modules/slick-carousel/slick/slick-theme.css'

.slick
  &-arrow
    transition .4s
    &:hover
      opacity .6
    &:before
      content ''
  &-prev, &-prev:hover, &-prev:focus
    sprite($arrow-to-left)
    left 0
  &-next, &-next:hover, &-next:focus
    sprite($arrow-to-right)
    right 0
