.simplelightbox
  a
    position relative
    display inline-block
    margin 16px
    &:before
      sprite($fullscreen)
      content ''
      display block
      position absolute
      top 50%
      left 50%
      opacity 0
      transform translate(-50%, -50%)
      z-index 1
      transition .4s
    &:after
      content ''
      display block
      position absolute
      top 0
      bottom 0
      left 0
      right 0
      transition .4s
    &:hover
      &:after
        background rgba(color_red, 40%)
    &:hover
      &:before
        opacity 1
    img
      height 200px
