<div class="remodal remodal-lg" data-remodal-id="privacy-policy">
  <button data-remodal-action="close" class="remodal-close"></button>

  <h3 class="gutter_bottom_half">
    <b>Соглашение об обработке персональных данных</b>
  </h3>

  <p>
    Данное соглашение об обработке персональных данных разработано в соответствии с законодательством Российской Федерации.
  </p>
  <p>
    Все лица заполнившие сведения составляющие персональные данные на данном сайте, а также разместившие иную информацию обозначенными действиями подтверждают свое согласие на обработку персональных данных и их передачу оператору обработки персональных данных.
  </p>
  <p>
    Граждане, принимая настоящее Соглашение, выражают свою заинтересованность и полное согласие, в том, что обработка их персональных данных может включать в себя следующие действия: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, уничтожение.
  </p>
</div>
