<section class="hero">
  {{> main-header}}
</section>

<div class="container gutter_bottom">
  <h2 class="pageHeader">О нас</h2>

  <h3>100 слов о нашей компании</h3>

  <p>
    Мы открывали сервис Бигфикс в 2016 году с главной целью – сделать сервис для людей. Изучив опыт работы наших коллег мы выявили ряд проблем которыми страдают многие сервисы нашего города:
  </p>

  <ul>
    <li>Слишком долго ремонтируют</li>
    <li>Стоимость не всегда соответствует озвученной</li>
    <li>Не работают в выходные дни</li>
    <li>Низкое качество обслуживания</li>
  </ul>

  <p>
    Мы хотим стать современным и открытым для наших клиентов центром обслуживания цифровой техники. Поэтому для Вас всегда:
  </p>

  <ul>
    <li>Бесплатная диагностика</li>
    <li>Ремонт в течении суток (или вообще за 20 минут)</li>
    <li>Обязательная гарантия на работы</li>
    <li>Узнавайте статус ремонт онлайн на нашем сайте</li>
    <li>Самые честные отзывы наших клиентов</li>
  </ul>

  <p>
    Мы готовы меняться и всегда прислушиваемся к Вашему мнению. Хотите предложить что-то или покритиковать нашу работу? Напишите лично мне в Whatsapp +79173458925.
  </p>

  <p>
    Камалов Рустем
    <br>
    Директор
  </p>

  <div class="row">
    <div class="col-lg-6 offset-lg-3 text_center gutter_vertical_half">
      <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mqCG4TtUMI0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
