<section class="hero">
  {{> main-header}}
</section>

<section class="container gutter_bottom">
  <h2 class="pageHeader">Контакты</h2>

  <div class="row">
    <div class="col-md-6 col-lg-7 gutter_bottom">
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=rY-uIPfqsvLgaynwp6q1Dq_NcGtnn_3P&amp;width=100%25&amp;height=340&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
    </div>
    <div class="col-md-6 col-lg-5">
      <p class="gutter_bottom_half">
        <img class="logo logo_black" src="images/logo_black.png" alt="БИГФИКС">
      </p>

      <address class="address address_black">
        <p class="address__item address__item_location">
          ТЦ "Башкирия" ул. Менделеева, 205а
          1-й этаж, "Дом быта"
        </p>
        <p class="address__item address__item_phone">
          8 (347) 266-01-31<br>
          8 (927) 236-01-31 - WhatsApp
        </p>
        <p class="address__item address__item_email">
          <a href="mailto:bigfix@inbox.ru">bigfix@inbox.ru</a>
        </p>
        <p class="address__item address__item_time">
          С 10:00 до 21:00. Без перерывов и выходных
        </p>
        <p class="address__item address__item_vk">
          <a href="//vk.com/bigfix">vk.com/bigfix</a>
        </p>
        <p class="address__item address__item_instagram">
          <a href="//instagram.com/bigfix">instagram.com/bigfix</a>
        </p>
      </address>
    </div>
  </div>

  <hr>

  <section>
    <div class="row">
      <div class="col-md-4 people">
        <div class="people__photo" style="background-image: url(images/contacts/1.jpg);"></div>
        <div class="people__info">
          <p><b>Должность:</b> Директор</p>
          <p><b>ФИО:</b> Камалов Рустем Ирекович</p>
          <p><b>Тел/факс:</b> 8 (917) 345-89-25</p>
        </div>
      </div>

      <div class="col-md-4 people">
        <div class="people__photo" style="background-image: url(images/contacts/2.jpg);"></div>
        <div class="people__info">
          <p><b>Должность:</b> Директор</p>
          <p><b>ФИО:</b> Камалов Рустем Ирекович</p>
          <p><b>Тел/факс:</b> 8 (917) 345-89-25</p>
        </div>
      </div>

      <div class="col-md-4 people">
        <div class="people__photo" style="background-image: url(images/contacts/3.jpg);"></div>
        <div class="people__info">
          <p><b>Должность:</b> Директор</p>
          <p><b>ФИО:</b> Камалов Рустем Ирекович</p>
          <p><b>Тел/факс:</b> 8 (917) 345-89-25</p>
        </div>
      </div>
    </div>
  </section>
</section>
