<div class="phoneRepair">
  <section class="hero gutter_bottom">
    {{> main-header}}

    <div class="container">
      <h1 class="hero__header_1">
        Ремонт телефонов<br>
        Apple, Android и всех кнопочных моделей
      </h1>
      <h2 class="hero__header_2">
        Выдаем подменный телефон<br>
        в случае длительного ремонта, гарантия 14 дней
      </h2>
      <h3 class="hero__header_3">Хотите вернуть телефон в рабочее состояние без потери времени и комфорта?</h3>

      <form class="form contactForm">
        <input class="form__input form__input_block contactForm__input" placeholder="Введите номер телефона" required>
        <button class="button button_lg button_block contactForm__button">Оставьте заявку</button>
      </form>
    </div>
  </section>

  <section class="services text_center gutter_bottom">
    <div class="container">
      <h2 class="sectionHeader">Оцените доступные цены на все виды услуг</h2>

      <div class="row">
        <div class="col-sm-6 col-md-4 services__item">
          <div class="services__image" style="background-image: url(images/phone-repair/services/1.png);"></div>
          <p class="services__description">
            Замена разъема<br>
            от 600 рублей
          </p>
        </div>

        <div class="col-sm-6 col-md-4 services__item">
          <div class="services__image" style="background-image: url(images/phone-repair/services/2.png);"></div>
          <p class="services__description">
            Замена дисплея<br>
            от 1200 рублей
          </p>
        </div>

        <div class="col-sm-6 offset-sm-3 col-md-4 offset-md-0 services__item">
          <div class="services__image" style="background-image: url(images/phone-repair/services/3.png);"></div>
          <p class="services__description">
            Замена кнопок<br>
            от 800 рублей
          </p>
        </div>
      </div>

      <div class="gutter_top">
        <button class="button button_long" data-remodal-target="modal-call">Узнать цены на другие услуги</button>
      </div>
    </div>
  </section>

  <section class="statusOnline gutter_vertical">
    <div class="container">
      <h2 class="sectionHeader sectionHeader_lg sectionHeader_white">
        Следить за статусом ремонта телефона<br>
        в режиме онлайн
      </h2>

      <form class="form contactForm gutter_bottom">
        <input class="form__input form__input_block contactForm__input" placeholder="Введите номер телефона" required>
        <button class="button button_lg button_block contactForm__button">Узнать статус</button>
      </form>
    </div>
  </section>

  <section class="text_center">
    <div class="container">
      <h2 class="sectionHeader">Почему нам доверяют ремонт любимых смартфонов?</h2>

      <div class="row">
        <div class="col-sm-6 col-md-3 gutter_bottom_half">
          <img class="gutter_bottom" src="images/thumbs/smartphone.png" height="100" alt="">
          <h3>
            <b>
              Работаем по заводской
              <br class="hidden-sm-down">
              технологии!
            </b>
          </h3>
          <p>
            Продлеваем срок «жизни»
            Вашего смартфона или
            телефона.
          </p>
        </div>

        <div class="col-sm-6 col-md-3 gutter_bottom">
          <img class="gutter_bottom" src="images/thumbs/screwdriver-and-wrench-crossed.png" height="100" alt="">
          <h3>
            <b>
              Техника работает
              <br class="hidden-sm-down">
              как новая!
            </b>
          </h3>
          <p>
            Возвращаем устройству его
            исходные
            возможности.
          </p>
        </div>

        <div class="col-sm-6 col-md-3 gutter_bottom">
          <img class="gutter_bottom" src="images/thumbs/thumbs-up.png" height="100" alt="">
          <h3>
            <b>
              Проверенные,<br class="hidden-sm-down">
              надежные запчасти!
            </b>
          </h3>
          <p>
            Техника работает
            дольше, а ломается
            реже.
          </p>
        </div>

        <div class="col-sm-6 col-md-3 gutter_bottom">
          <img class="gutter_bottom" src="images/thumbs/checked.png" height="100" alt="">
          <h3>
            <b>
              Никаких
              <br class="hidden-sm-down">
              сюрпризов!
            </b>
          </h3>
          <p>
            Все работает с первого раза
            не нужно возвращаться и
            выяснять, что не так.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="powers text_white">
    <div class="container">
      <h2 class="sectionHeader sectionHeader_lg">
        Повышаем производительность<br>
        смартфонов и телефонов
      </h2>

      <div class="row">
        <div class="col-md-4 text_center gutter_bottom">
          <img class="gutter_bottom" src="images/thumbs/speedometer.png" height="100" alt="">
          <h3>
            <b>
              Увеличиваем скорость
              <br class="hidden-sm-down">
              работы
            </b>
          </h3>
          <p>
            Смартфоны начинают работать
            значительно быстрее, кнопочные аппараты
            не зависают и не глючат.
          </p>
        </div>

        <div class="col-md-4 text_center gutter_bottom">
          <img class="gutter_bottom" src="images/thumbs/guard.png" height="100" alt="">
          <h3>
            <b>
              Повышаем
              <br class="hidden-sm-down">
              безопасность
            </b>
          </h3>
          <p>
            Проводим диагностику, снижаем
            вероятность распространенных поломок
            и сбоев в ближайшем будущем.
          </p>
        </div>

        <div class="col-md-4 text_center gutter_bottom">
          <img class="gutter_bottom" src="images/thumbs/money-bag-with-dollar-symbol.png" height="100" alt="">
          <h3>
            <b>
              Сокращаем Ваши
              <br class="hidden-sm-down">
              расходы
            </b>
          </h3>
          <p>
            Помогаем снизить затраты на ремонт
            смартфонов и телефонов
            без потери качества.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="brand gutter_bottom">
    <div class="container">
      <h2 class="sectionHeader">Ремонтируем телефоны всех популярных брендов</h2>

      <div class="brand__container">
        <div class="brand__container">
          <div class="brand__item">
            <img class="brand__logo" src="images/brands/samsung.png" alt="">
            <p class="brand__name">samsung</p>
          </div>
          <div class="brand__item">
            <img class="brand__logo" src="images/brands/apple.png" alt="">
            <p class="brand__name">apple</p>
          </div>
          <div class="brand__item">
            <img class="brand__logo" src="images/brands/htc.png" alt="">
            <p class="brand__name">htc</p>
          </div>
          <div class="brand__item">
            <img class="brand__logo" src="images/brands/lenovo.png" alt="">
            <p class="brand__name">lenovo</p>
          </div>
        </div>
        <div class="brand__container">
          <div class="brand__item">
            <img class="brand__logo" src="images/brands/huawei.png" alt="">
            <p class="brand__name">huawei</p>
          </div>
          <div class="brand__item">
            <img class="brand__logo" src="images/brands/xiaomi.png" alt="">
            <p class="brand__name">xiaomi</p>
          </div>
          <div class="brand__item">
            <img class="brand__logo" src="images/brands/lg.png" alt="">
            <p class="brand__name">lg</p>
          </div>
          <div class="brand__item">
            <img class="brand__logo" src="images/brands/nokia.png" alt="">
            <p class="brand__name">nokia</p>
          </div>
        </div>
        <div class="brand__container">
          <div class="brand__item">
            <img class="brand__logo" src="images/brands/fly.png" alt="">
            <p class="brand__name">fly</p>
          </div>
          <div class="brand__item">
            <img class="brand__logo" src="images/brands/asus.png" alt="">
            <p class="brand__name">asus</p>
          </div>
          <div class="brand__item">
            <img class="brand__logo" src="images/brands/sony.png" alt="">
            <p class="brand__name">sony</p>
          </div>
          <div class="brand__item">
            <img class="brand__logo" src="images/brands/alcatel.png" alt="">
            <p class="brand__name">alcatel</p>
          </div>
        </div>
      </div>

      <h3 class="gutter_bottom">А также все кнопочные модели</h3>

      <button class="button button_long" data-remodal-target="modal-call">Оставить заявку</button>
    </div>
  </section>

  <section class="testimonials gutter_bottom">
    <div class="container">
      <h2 class="sectionHeader sectionHeader_lg text_white">
        Отзывы владельцев<br>
        отремонтированных телефонов
      </h2>

      <div class="testimonials__slider">
        {{#repeat 2}}
        <div>
          <div class="testimonials__photo" style="background-image: url(images/testimonials/1.jpg);"></div>
          <h3 class="testimonials__name">Имя Фамилия</h3>
          <p class="testimonials__opinion">
            С другой стороны консультация с широким активом требуют от нас анализа новых предложений. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности в значительной степени обуславливает создание дальнейших направлений развития.
          </p>
        </div>
        {{/repeat}}
      </div>
    </div>
  </section>

  <section class="gutter_bottom">
    <div class="container">
      <h2 class="sectionHeader">
        Как быстро восстановить работу смартфона<br>
        или кнопочного телефона?
      </h2>

      <div class="step__container">
        <div class="step__item">
          <h3 class="step__index">1</h3>
          <p class="step__description">
            Оставьте заявку<br>
            на сайте.
          </p>
        </div>

        <div class="step__item">
          <h3 class="step__index">2</h3>
          <p class="step__description">
            Приносите телефон
            в удобное время.
          </p>
        </div>

        <div class="step__item">
          <h3 class="step__index">3</h3>
          <p class="step__description">
            Подождите 24-48 часов или
            закажите срочный ремонт.
          </p>
        </div>

        <div class="step__item">
          <h3 class="step__index">4</h3>
          <p class="step__description">
            Оплатите за услугу по
            факту готовности техники.
          </p>
        </div>

        <div class="step__item">
          <h3 class="step__index">5</h3>
          <p class="step__description">
            Наслаждайтесь отличной работой телефона!
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="proposal gutter_vertical">
    <div class="container">
      <h2 class="sectionHeader sectionHeader_lg text_white">
        Предлагаем экспресс-ремонт телефонов<br>
        на базе Apple, Android и всех кнопочных моделей<br>
        в Вашем присутствии
      </h2>

      <h2 class="text_center text_white gutter_bottom">
        Хотите вернуть технику в рабочее состояние<br>
        без потери времени и комфорта?
      </h2>

      <form class="form contactForm gutter_bottom">
        <input class="form__input form__input_block contactForm__input" placeholder="Введите номер телефона" required>
        <button class="button button_lg button_block contactForm__button">Оставьте заявку</button>
      </form>
    </div>
  </section>
</div>
