<section class="phoneRepair hero gutter_bottom">
  {{> main-header}}

  <div class="container">
    <h1 class="hero__header_1">
      Ремонт телефонов<br>
      Apple, Android и всех кнопочных моделей
    </h1>
    <h2 class="hero__header_2">
      Выдаем подменный телефон<br>
      в случае длительного ремонта, гарантия 14 дней
    </h2>
    <h3 class="hero__header_3">Хотите вернуть телефон в рабочее состояние без потери времени и комфорта?</h3>

    <form class="form contactForm">
      <input class="form__input form__input_block contactForm__input" placeholder="Введите номер телефона" required>
      <button class="button button_lg button_block contactForm__button">Оставьте заявку</button>
    </form>
  </div>
</section>
