<section class="hero">
  {{> main-header}}
</section>

<section class="container gutter_bottom">
  <h2 class="pageHeader">Новости</h2>

  <div class="row newsPreview">
    <div class="col-md-5 col-lg-4">
      <img class="newsPreview__image" src="images/news/4.jpg" alt="">
    </div>
    <div class="col-md-7 col-lg-8 newsPreview__body">
      <h3 class="newsPreview__caption">Профилактика компьютеров</h3>
      <small>Admin, 03.11.2016</small>
      <p class="gutter_bottom_half">
        Со временем любому компьютеру нужна профилактика. В сервис центре "БИГФИКС" для этого есть целая программа
      </p>

      <a class="button button_long newsPreview__button" href="single-news_4.html">Подробнее</a>
    </div>

    <div class="col-md-10 offset-md-1">
      <hr>
    </div>
  </div>

  <div class="row newsPreview">
    <div class="col-md-5 col-lg-4">
      <img class="newsPreview__image" src="images/news/3.jpg" alt="">
    </div>
    <div class="col-md-7 col-lg-8 newsPreview__body">
      <h3 class="newsPreview__caption">Мы открылись!</h3>
      <small>Admin, 03.11.2016</small>
      <p class="gutter_bottom_half">
        Разбили экран любимого смартфона? Без паники! <br>
        Современные телефоны состоят из компонентов каждый из которых можно заменить в случае поломки.
      </p>

      <a class="button button_long newsPreview__button" href="single-news_3.html">Подробнее</a>
    </div>

    <div class="col-md-10 offset-md-1">
      <hr>
    </div>
  </div>

  <div class="row newsPreview">
    <div class="col-md-5 col-lg-4">
      <img class="newsPreview__image" src="images/news/2.jpg" alt="">
    </div>
    <div class="col-md-7 col-lg-8 newsPreview__body">
      <h3 class="newsPreview__caption">Экспресс заправка картриджей</h3>
      <small>Admin, 03.11.2016</small>
      <p class="gutter_bottom_half">
        Наверняка все знают, что в принтерах для печати используются картриджи с очень мелким порошком (тонером).
      </p>

      <a class="button button_long newsPreview__button" href="single-news_2.html">Подробнее</a>
    </div>

    <div class="col-md-10 offset-md-1">
      <hr>
    </div>
  </div>

  <div class="row newsPreview">
    <div class="col-md-5 col-lg-4">
      <img class="newsPreview__image" src="images/news/1.jpg" alt="">
    </div>
    <div class="col-md-7 col-lg-8 newsPreview__body">
      <h3 class="newsPreview__caption">Мы всегда готовы помочь!</h3>
      <small>Admin, 03.11.2016</small>
      <p class="gutter_bottom_half">
        Всегда досадно когда ломается любимый телефон или не печатает принтер. <br>
        В сервисном центре "БИГФИКС" для вас каждый день работает
        мастер по ремонту цифровой техники и специалист по заправке картриджей.
      </p>

      <a class="button button_long newsPreview__button" href="single-news_1.html">Подробнее</a>
    </div>

    <div class="col-md-10 offset-md-1">
      <hr>
    </div>
  </div>

  <!--<div class="pagination gutter_vertical">-->
    <!--<a class="pagination__item pagination__prev" href="">Назад</a>-->

    <!--<a class="pagination__item pagination__item_active" href="">1</a>-->
    <!--<a class="pagination__item" href="">2</a>-->
    <!--<a class="pagination__item" href="">3</a>-->
    <!--<a class="pagination__item" href="">4</a>-->

    <!--<a class="pagination__item pagination__next" href="">Далее</a>-->
  <!--</div>-->
</section>
