<section class="refillCartridges hero gutter_bottom">
  {{> main-header}}

  <div class="container">
    <h1 class="hero__header_1">
      Заправим Ваш картридж<br>
      за 15 минут!
    </h1>
    <h2 class="hero__header_2">
      Всего 350 рублей* + гарантия 2 недели<br>
    </h2>
    <h3 class="hero__header_3">Нужно срочно и качественно заправить картридж?</h3>

    <div class="gutter_bottom">
      <form class="form contactForm">
        <input class="form__input form__input_block contactForm__input" placeholder="Введите номер телефона" required>
        <button class="button button_lg button_block contactForm__button">Оставьте заявку</button>
      </form>
    </div>

    <p>*В зависимости от модели картриджа цена может незначительно увеличиться</p>
  </div>
</section>
