<div class="refillCartridges">
  <section class="hero gutter_bottom">
    {{> main-header}}

    <div class="container">
      <h1 class="hero__header_1">
        Заправим Ваш картридж<br>
        за 15 минут!
      </h1>
      <h2 class="hero__header_2">
        Всего 350 рублей* + гарантия 2 недели<br>
      </h2>
      <h3 class="hero__header_3">Нужно срочно и качественно заправить картридж?</h3>

      <div class="gutter_bottom">
        <form class="form contactForm">
          <input class="form__input form__input_block contactForm__input" placeholder="Введите номер телефона" required>
          <button class="button button_lg button_block contactForm__button">Оставьте заявку</button>
        </form>
      </div>

      <p>*В зависимости от модели картриджа цена может незначительно увеличиться</p>
    </div>
  </section>

  <section class="services text_center gutter_bottom">
    <div class="container">
      <h2 class="sectionHeader">Приносите сегодня — забирайте завтра</h2>

      <div class="row">
        <div class="col-sm-6 col-lg-3 services__item">
          <div class="services__image" style="background-image: url(images/refill-cartridges/services/1.jpg);"></div>
          <p class="services__description">
            Бережно чистим
          </p>
        </div>

        <div class="col-sm-6 col-lg-3 services__item">
          <div class="services__image" style="background-image: url(images/refill-cartridges/services/2.jpg);"></div>
          <p class="services__description">
            Аккуратно разбираем
          </p>
        </div>

        <div class="col-sm-6 col-lg-3 services__item">
          <div class="services__image" style="background-image: url(images/refill-cartridges/services/3.jpg);"></div>
          <p class="services__description">
            Щедро заправляем
          </p>
        </div>

        <div class="col-sm-6 col-lg-3 services__item">
          <div class="services__image" style="background-image: url(images/refill-cartridges/services/4.jpg);"></div>
          <p class="services__description">
            Быстро собираем
          </p>
        </div>
      </div>

      <div class="gutter_top">
        <button class="button">Заправить картридж</button>
      </div>
    </div>
  </section>

  <section class="statusOnline gutter_vertical">
    <div class="container">
      <h2 class="sectionHeader sectionHeader_lg text_white">
        Хотите, чтобы заправленный картридж<br>
        печатал, как новый?
      </h2>

      <h3 class="text_center text_white gutter_bottom_half">Срочная и качественная заправка — это к нам!</h3>

      <form class="form contactForm gutter_bottom">
        <input class="form__input form__input_block contactForm__input" placeholder="Введите номер телефона" required>
        <button class="button button_lg button_block contactForm__button">Оставить заявку</button>
      </form>
    </div>
  </section>

  <section class="gutter_bottom">
    <div class="container">
      <h2 class="sectionHeader">
        Как заправить картридж быстро<br>
        и качественно?
      </h2>

      <div class="step__container">
        <div class="step__item">
          <h3 class="step__index">1</h3>
          <p class="step__description">
            Оставьте заявку<br>
            на сайте.
          </p>
        </div>

        <div class="step__item">
          <h3 class="step__index">2</h3>
          <p class="step__description">
            Придите в гости вместе с картриджем.
          </p>
        </div>

        <div class="step__item">
          <h3 class="step__index">3</h3>
          <p class="step__description">
            Подождите 15 минут за чашечкой кофе.
          </p>
        </div>

        <div class="step__item">
          <h3 class="step__index">4</h3>
          <p class="step__description">
            Оплатите от 350 рублей по факту заправки.
          </p>
        </div>

        <div class="step__item">
          <h3 class="step__index">5</h3>
          <p class="step__description">
            Наслаждайтесь высоким качеством печати!
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="proposal gutter_vertical">
    <div class="container">
      <h2 class="sectionHeader sectionHeader_lg text_white">
        Заправьте картридж у нас<br>
        и получите светозащитный пакет<br>
        в подарок
      </h2>

      <form class="form contactForm gutter_bottom">
        <input class="form__input form__input_block contactForm__input" placeholder="Введите номер телефона" required>
        <button class="button button_lg button_block contactForm__button">Оставить заявку</button>
      </form>
    </div>
  </section>
</div>
