<div class="singleNews gutter_bottom">
  <section class="hero">
    {{> main-header}}
  </section>

  <div class="container">
    <div class="gutter_bottom">
      <h2 class="singleNews__caption">Экспресс заправка картриджей</h2>
      <small>Admin, 03.11.2016</small>
    </div>

    <p>
      Наверняка все знают, что в принтерах для печати используются картриджи с очень мелким порошком (тонером).
    </p>
    <p>
      Когда тонер закончится можно пойти и купить новый картридж. Обычно они стоят от 1500 р. НО! Гораздо разумнее будет заправлять
      один и тот же картридж несколько раз и обойдется это в 5-6 раз дешевле. Например в сервис центре "БИГФИКС" картриджи заправляют
      от 350 р. на современном оборудовании с обязательной разборкой и чисткой.
    </p>
    <p>Добро пожаловать!</p>
    <p>
      ул. Менделеева 205 а <br>
      Башкирия LIFESTYLE Центр, 1 этаж, Дом Быта. Тел.: 266-01-31
    </p>

    <div class="simplelightbox">
      <a href="images/news/2.jpg">
        <img src="images/news/2.jpg" alt="">
      </a>
    </div>

    <div class="pagination gutter_vertical">
      <div class="row">
        <div class="col-sm-6 gutter_bottom">
          <a class="pagination__item pagination__prev" href="single-news_1.html">Предыдущая новость</a>
        </div>
        <div class="col-sm-6">
          <a class="pagination__item pagination__next" href="single-news_3.html">Следующая новость</a>
        </div>
      </div>

    </div>
  </div>
</div>
