<div class="singleNews gutter_bottom">
  <section class="hero">
    {{> main-header}}
  </section>

  <div class="container">
    <div class="gutter_bottom">
      <h2 class="singleNews__caption">Название новости</h2>
      <small>Admin, 03.11.2016</small>
    </div>

    <p>
      Товарищи! сложившаяся структура организации влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Товарищи! реализация намеченных плановых заданий позволяет оценить значение новых предложений. Не следует, однако забывать, что дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке форм развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации новых предложений.
    </p>
    <p>
      Равным образом консультация с широким активом требуют от нас анализа существенных финансовых и административных условий. Идейные соображения высшего порядка, а также консультация с широким активом в значительной степени обуславливает создание новых предложений.
    </p>
    <p>
      Товарищи! сложившаяся структура организации влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Товарищи! реализация намеченных плановых заданий позволяет оценить значение новых предложений. Не следует, однако забывать, что дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке форм развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации новых предложений.
    </p>

    <div class="simplelightbox">
      <a href="images/news/1.jpg">
        <img src="images/news/1.jpg" alt="">
      </a>
      <a href="images/news/1.jpg">
        <img src="images/news/1.jpg" alt="">
      </a>
      <a href="images/news/1.jpg">
        <img src="images/news/1.jpg" alt="">
      </a>
       <a href="images/news/1.jpg">
        <img src="images/news/1.jpg" alt="">
      </a>
    </div>

    <div class="pagination gutter_vertical">
      <div class="row">
        <div class="col-sm-6 gutter_bottom_half">
          <a class="pagination__item pagination__prev" href="">Предыдущая новость</a>
        </div>
        <div class="col-sm-6">
          <a class="pagination__item pagination__next" href="">Следующая новость</a>
        </div>
      </div>

    </div>
  </div>
</div>
