<div class="singleNews gutter_bottom">
  <section class="hero">
    {{> main-header}}
  </section>

  <div class="container">
    <div class="gutter_bottom">
      <h2 class="singleNews__caption">Мы открылись!</h2>
      <small>Admin, 03.11.2016</small>
    </div>

    <p>
      Разбили экран любимого смартфона? Без паники! Современные телефоны состоят из компонентов каждый из которых
      можно заменить в случае поломки.
    </p>
    <p>
      Приходите в сервис центр "БИГФИКС". Наши специалисты проведут диагностику (это бесплатно)
      и аккуратно починять ваш гаджет. Кстати, старые но надежные, кнопочные телефоны тоже можно отремонтировать в "БИГФИКС".
    </p>
    <p>
      ул. Менделеева 205 а <br>
      Башкирия LIFESTYLE Центр, 1 этаж, Дом Быта. Тел.: 266-01-31
    </p>

    <div class="simplelightbox">
      <a href="images/news/3.jpg">
        <img src="images/news/3.jpg" alt="">
      </a>
    </div>

    <div class="pagination gutter_vertical">
      <div class="row">
        <div class="col-sm-6 gutter_bottom">
          <a class="pagination__item pagination__prev" href="single-news_2.html">Предыдущая новость</a>
        </div>
        <div class="col-sm-6">
          <a class="pagination__item pagination__next" href="single-news_4.html">Следующая новость</a>
        </div>
      </div>

    </div>
  </div>
</div>
