<div class="singleNews gutter_bottom">
  <section class="hero">
    {{> main-header}}
  </section>

  <div class="container">
    <div class="gutter_bottom">
      <h2 class="singleNews__caption">Профилактика компьютеров</h2>
      <small>Admin, 03.11.2016</small>
    </div>

    <p>
      Со временем любому компьютеру нужна профилактика. В сервис центре "БИГФИКС" для этого есть целая программа
    </p>
    <ul>
      <li>100% чистка от пыли;</li>
      <li>смазка вентиляторов;</li>
      <li>настройка "Windows";</li>
      <li>удаление вредоносных программ и установка антивируса;</li>
      <li>замена термопасты (для лучшего охлаждения процессора).</li>
    </ul>
    <p>
      Всё это поможет продлить жизнь вашего ноутбука или компьютера всего за 1499 р.
    </p>
    <p>
      ул. Менделеева 205 а <br>
      Башкирия LIFESTYLE Центр, 1 этаж, Дом Быта. Тел.: 266-01-31
    </p>

    <div class="simplelightbox">
      <a href="images/news/4.jpg">
        <img src="images/news/4.jpg" alt="">
      </a>
    </div>

    <div class="pagination gutter_vertical">
      <div class="row">
        <div class="col-sm-6 gutter_bottom">
          <a class="pagination__item pagination__prev" href="single-news_3.html">Предыдущая новость</a>
        </div>
        <div class="col-sm-6">
          <!--<a class="pagination__item pagination__next" href="single-news_4.html">Следующая новость</a>-->
        </div>
      </div>

    </div>
  </div>
</div>
