<div class="singleNews gutter_bottom">
  <section class="hero">
    {{> main-header}}
  </section>

  <div class="container">
    <div class="gutter_bottom">
      <h2 class="singleNews__caption">Мы всегда готовы помочь!</h2>
      <small>Admin, 03.11.2016</small>
    </div>

    <p>
      Всегда досадно когда ломается любимый телефон или не печатает принтер. <br>
      В сервисном центре "БИГФИКС" для вас каждый день работает
      мастер по ремонту цифровой техники и специалист по заправке картриджей.
    </p>
    <p>
      Зачем покупать новый если можно починить гаджет к которому так привык!
    </p>
    <p>
      ул. Менделеева 205 а <br>
      Башкирия LIFESTYLE Центр, 1 этаж, Дом Быта. Тел.: 266-01-31
    </p>

    <div class="simplelightbox">
      <a href="images/news/1.jpg">
        <img src="images/news/1.jpg" alt="">
      </a>
    </div>

    <div class="pagination gutter_vertical">
      <div class="row">
        <div class="col-sm-6 gutter_bottom">
          <!--<a class="pagination__item pagination__prev" href="">Предыдущая новость</a>-->
        </div>
        <div class="col-sm-6">
          <a class="pagination__item pagination__next" href="single-news_2.html">Следующая новость</a>
        </div>
      </div>

    </div>
  </div>
</div>
