<header class="mainHeader">
  <div class="mainHeader__container container">
    <div class="mainHeader__mobileTop">
      <div class="mainHeader__menuButton toggleButton" data-target=".navbar"></div>
      <img class="logo mainHeader__logo" src="images/logo.png" alt="БИГФИКС">
    </div>


    <div class="mainHeader__address {{#ifpage 'contacts'}}hidden-md-down{{/ifpage}}">
      <address>
        <p>
          Работаем с 10:00 до 21:00<br>
          Без перерывов и выходных
        </p>

        <p>г. Уфа, ул. Менделеева 205а, ТЦ Башкирия</p>
      </address>
    </div>


    <div class="mainHeader__contacts">
      <div class="mainHeader__phone">
        <a class="phone" href="tel:83472660131">
          8 (347) 266-01-31
        </a>
      </div>

      <button class="button mainHeader__callMeButton" data-remodal-target="callback">Перезвоните мне</button>

      <div class="mainHeader__checkStatus">
        <a data-remodal-target="status" href="javascript:void(0)">Узнать статус ремонта</a>
      </div>
    </div>

    {{> navbar}}
  </div>
</header>
