$instagram_black = 0px 72px 0px -72px 29px 29px 139px 101px 'sprite.png';
$location = 36px 36px -36px -36px 34px 34px 139px 101px 'sprite.png';
$location_black = 0px 0px 0px 0px 34px 34px 139px 101px 'sprite.png';
$mail = 67px 72px -67px -72px 34px 24px 139px 101px 'sprite.png';
$mail_black = 31px 72px -31px -72px 34px 24px 139px 101px 'sprite.png';
$menu = 72px 36px -72px -36px 32px 29px 139px 101px 'sprite.png';
$phone-call = 72px 0px -72px 0px 34px 34px 139px 101px 'sprite.png';
$phone-call_black = 0px 36px 0px -36px 34px 34px 139px 101px 'sprite.png';
$phone-call_red = 108px 19px -108px -19px 21px 21px 139px 101px 'sprite.png';
$time_black = 36px 0px -36px 0px 34px 34px 139px 101px 'sprite.png';
$vk_black = 108px 0px -108px 0px 31px 17px 139px 101px 'sprite.png';
