$arrow-to-left = 0px 0px 0px 0px 32px 53px 138px 120px 'sprite.png';
$arrow-to-right = 34px 0px -34px 0px 32px 53px 138px 120px 'sprite.png';
$instagram_black = 72px 55px -72px -55px 29px 29px 138px 120px 'sprite.png';
$location = 68px 0px -68px 0px 34px 34px 138px 120px 'sprite.png';
$location_black = 0px 55px 0px -55px 34px 34px 138px 120px 'sprite.png';
$mail = 34px 91px -34px -91px 34px 24px 138px 120px 'sprite.png';
$mail_black = 70px 91px -70px -91px 34px 24px 138px 120px 'sprite.png';
$menu = 0px 91px 0px -91px 32px 29px 138px 120px 'sprite.png';
$phone-call = 36px 55px -36px -55px 34px 34px 138px 120px 'sprite.png';
$phone-call_black = 104px 0px -104px 0px 34px 34px 138px 120px 'sprite.png';
$phone-call_red = 106px 91px -106px -91px 21px 21px 138px 120px 'sprite.png';
$time_black = 104px 36px -104px -36px 34px 34px 138px 120px 'sprite.png';
$vk_black = 104px 72px -104px -72px 31px 17px 138px 120px 'sprite.png';
