$location = 0px 0px 0px 0px 34px 34px 93px 65px 'sprite.png';
$mail = 34px 36px -34px -36px 34px 24px 93px 65px 'sprite.png';
$menu = 0px 36px 0px -36px 32px 29px 93px 65px 'sprite.png';
$phone-call = 36px 0px -36px 0px 34px 34px 93px 65px 'sprite.png';
$phone-call_red = 72px 0px -72px 0px 21px 21px 93px 65px 'sprite.png';
